<div class="wrap">
  <div class="episode-details">
    <div>
      <div><span>Name:</span> {{currentEpisode.name}}</div>
      <div><span>Date:</span>  {{currentEpisode.air_date}}</div>
      <div><span>Number of episode:</span> {{currentEpisode.episode}}</div>
    </div>
  </div>
  <div class="characters">
    <mat-card class="example-card" *ngFor="let character of characters">
      <mat-card-header>
        <mat-card-title>Name: {{character.name}}</mat-card-title>
        <mat-card-subtitle>Gender: {{character.gender}}</mat-card-subtitle>
        <mat-card-subtitle>Status: {{character.status}}</mat-card-subtitle>
        <mat-card-subtitle>Species: {{character.species}}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image [src]="character.image" [alt]="character.name">
    </mat-card>
  </div>
</div>

