.wrap{
  margin: 0 auto;
  width: 100%;


}
.episode-details{
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: rgb(233,30,99);
  color: snow;
  font-size: 20px;
}
.characters{
  width:100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
}
.example-card {
  max-width: 25%;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
span{
  color: black;
  font-weight: bold;
}
