<mat-tab-group >
  <mat-tab label="Long tab">
    <div class="example-large-box mat-elevation-z4">
      <div>
         <div>
          <h2>{{episode.name}}</h2>
          <h3>Air date: {{episode.air_date}}</h3>
          <h3>Episode: {{episode.episode}}</h3>
         </div>
        <div class="link">
<!--          <a routerLink='{{episode.id}}'>details</a>-->
<!--          <button mat-raised-button color="primary" ><a routerLink='{{episode.id}}'>Details</a></button>-->
          <a routerLink='{{episode.id}}'> <button mat-raised-button color="primary" >Details</button></a>
        </div>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
