.wrap{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.title{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}
.episodes{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-left: 50px;

}
